[submodule "Assignment 1/lib/ds-test"]
	path = Assignment 1/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "Assignment 1/lib/forge-std"]
	path = Assignment 1/lib/forge-std
	url = https://github.com/foundry-rs/forge-std
[submodule "Assignment 2/lib/ds-test"]
	path = Assignment 2/lib/ds-test
	url = https://github.com/dapphub/ds-test
[submodule "Assignment 2/lib/yield-utils-v2"]
	path = Assignment 2/lib/yield-utils-v2
	url = https://github.com/yieldprotocol/yield-utils-v2
